## Ignore File ##

# All
data
*/data/*
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.csv
*.zip

# SH
translator_key.json
models
*/models/*
*.pkl

.idea
*.pyc
__pycache__


# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log

# venv
.env
.venv

# other
.DS_Store

# javascript
package-lock.json

staticfiles/*
!staticfiles/.gitkeep 
.vscode/symbols.json

apps/static/assets/node_modules
apps/static/assets/yarn.lock
apps/static/assets/.temp

